:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-heading: #1b0760;
    --color-body: #918ca4;
}

/*  Typography */
body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 1.5rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-heading);
    margin-bottom: 0.625rem;
}

h1 {
    font-size: 4.375rem;
}

h2 {
    font-size: 2.5rem;
}


h3 {
    font-size: 1.875rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.5s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 0.938rem;
    }
}

/* Badges */

.badge {
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight: 600;
    white-space: nowrap;
    font-size: 1.25rem;
}

.badge--primary {
    background: var(--color-primary);
    color: white;
}

.badge--secondary {
    background: var(--color-secondary);
    color: white;
}

.badge--small {
    font-size: 1rem;
}

@media screen and (min-width: 1024px){
    .badge {
        font-size: 0.938rem;
    }
    .badge--small {
        font-size: 0.75rem;
    }
}
